# Data hasil generate dan data lake
/generated_data/
/data_lake/raw/
/data_lake/warehouse/
/data_lake/logs/
/venv/

*.csv

# File sementara Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter notebook checkpoints
.ipynb_checkpoints/ 